<div class="wrapper">    
  <app-side-nav-menu></app-side-nav-menu>     
     <div id="content">
         <app-top-nav-menu></app-top-nav-menu> 
         <div class="projHeading"><h2>Tata-212 - Pickup Tamil</h2></div>
           <div class="profileImgSec border border-light"> 
              <a href="/user" class="userImg userProfile1" title="Shankar"></a>
              <span class="userImg userProfile2" title="Anatte"></span>
              <span class="userImg userProfile" title="Murugan"></span> 
              <span class="userImg userProfile2" title="Dinesh"></span>
              <span class="userImg userProfile1" title="Ramesh"></span>
              <span class="userImg userProfile3" title="Naresh"></span>
             </div>
          
     </div>
 </div>

<router-outlet></router-outlet>  